<div class="sul-embed-container" id='sul-embed-object' hidden>
  <%= render Legacy::HeaderComponent.new viewer: viewer %>
  <div class='sul-embed-body sul-embed-geo'>
    <div id="sul-embed-geo-sidebar" class="" style="display: none;">
    </div>
    <%= content_tag :div, viewer.map_element_options do %>

    <% end %>
  </div>

  <%= render 'embed/metadata_panel', viewer: viewer %>
  <%= render 'embed/embed_this/generic', viewer: viewer %>
  <%= render Legacy::Download::GeoComponent.new viewer: viewer %>
  <%= render Legacy::FooterComponent.new viewer: viewer %>
 </div>
