<div class='sul-embed-body sul-embed-file'
      data-sul-embed-theme="<%= stylesheet_path('file.css') %>"
      data-sul-icons="<%= stylesheet_path('sul_icons.css') %>">
  <div class='sul-embed-file-list'>
    <% if viewer.purl_object.embargoed? %>
      <div class='sul-embed-embargo-message'>
         <%= viewer.embargo_message %>
      </div>
    <% end %>
    <ul role='tree' class='sul-embed-media-list'>
      <li role="treeitem" aria-expanded="true" data-hierarchy-type="root">
        <%= render 'embed/body/resource_dir', dir: viewer.purl_object.hierarchical_contents, viewer: viewer %>
      </li>
    </ul>
    <%= javascript_pack_tag('file') %>
  </div>
</div>
