<div class='sul-embed-body sul-embed-geo' style="max-height: <%= viewer.body_height %>px" data-sul-embed-theme="<%= asset_url('geo.css') %>">
  <div id="sul-embed-geo-sidebar" class="" style="display: none; max-height: <%= viewer.body_height %>;">
  </div>
  <%= content_tag :div, viewer.map_element_options do %>
  
  <% end %>
  
  <script>;jQuery.ajax({url: "<%= asset_url('geo.js') %>", cache: true, dataType: 'script'});</script>
</div>
