<div class='sul-embed-media'>
    <div class='sul-embed-count sul-embed-pull-left'>
      <%= viewer.purl_object.hierarchical? ? raw('&nbsp;&nbsp;') : file.index %>
    </div>
  <div class='sul-embed-media-object sul-embed-pull-left'>
    <% if file.image? %>
      <img class='sul-embed-square-image'  src="<%= viewer.stacks_square_url(viewer.purl_object.druid, file.title)%>"  alt=''>
    <% else %>
      <i class="sul-i-2x <%= viewer.file_type_icon(file.mimetype) %>"></i>
    <% end %>
  </div>
  <div class='sul-embed-media-body' data-filepath="<%= file.title %>">
    <% if viewer.embargoed_to_world?(file) %>
      <span class='sul-embed-disabled'><%= file.hierarchical_title %></span>
    <% else %>
      <div class='sul-embed-media-heading'>
        <a href="<%= file.file_url %>"
            title="<%= viewer.tooltip_text(file) %>"
            target='_blank'
            rel='noopener noreferrer'><%= file.hierarchical_title %></a>
        <%= render 'embed/restrictions_text_for_file', file: file %>
      </div>
    <% end %>

    <div class='sul-embed-description' data-description='true'>
      <%= file.label_or_filename %>
    </div>
    <div class='sul-embed-download'>
      <i class='sul-i-download-3'></i>
      <% if viewer.embargoed_to_world?(file) %>
        <span class='sul-embed-disabled'>
          <%= viewer.pretty_filesize(file.size) %>
        </span>
      <% else %>
        <a href="<%= file.file_url %>" target='_blank' rel='noopener noreferrer' download=''>
          <span class='sul-embed-sr-only'>
            Download item <%= file.index %>
          </span>
          <%= viewer.file_size_text(file.size) %>
        </a>
      <% end %>
    </div>
  </div>
</div>