<% if show_headers && !file.caption? && !file.transcript? %>
    <h4><%= download_label %></h4>
<% end %>
<li>
  <a href='<%= url %>' target='_blank' rel='noopener noreferrer' download>
    Download <%= download_label %>
  </a>
  <%= render 'embed/restrictions_text_for_file', file: file %>
  <%= file_size %>
</li>
