<li class="no-bullets sul-i-2x <%= file_type_icon %>">
  <a href="#" data-action="click->content-list#<%= show_method %>" data-url="<%= url %>">
    <%= download_label %>
  </a>
  <%= render 'embed/restrictions_text_for_file', file: file %>
</li>
