<dialog id="<%= dialog_id %>" class="modal-container" aria-labelledby="<%= header_id %>" data-companion-window-target="<%= stimulus_target %>" data-action="click->companion-window#handleBackdropClicks">
  <header id="<%= header_id %>" class="modal-header">
    <%= header %>
  </header>

  <section class="modal-main">
    <%= main %>
  </section>
  
  <footer class="modal-footer">
    <%= footer %>
  </footer>
</dialog>
