<div class='sul-embed-embed-this-form'>
  <span class='sul-embed-options-label' id="select-options">Select options:</span>
  <div class='sul-embed-section sul-embed-embed-title-section'>
    <input
      type='checkbox'
      id='sul-embed-embed-title'
      data-embed-attr='hide_title'
      <%= 'checked' unless request.hide_title? %>
    />
    <label for='sul-embed-embed-title'>
      title
      <span class='sul-embed-embed-title'> (<%= purl_object_title %>)</span>
    </label>
  </div>
  <%= content %>
  <div class='sul-embed-section'>
    <input
      type='checkbox'
      id='sul-embed-embed'
      data-embed-attr='hide_embed'
      <%= 'checked' unless request.hide_embed_this? %>
    />
    <label for='sul-embed-embed'>embed</label>
  </div>
  <div>
    <div class='sul-embed-options-label'>
      <label for='sul-embed-iframe-code'>Embed code:</label>
    </div>
    <div class='sul-embed-section'>
      <textarea id='sul-embed-iframe-code' data-behavior='iframe-code'><%= render IframeComponent.new(viewer:) %></textarea>
    </div>
  </div>
</div>