<%= render ::CompanionWindowsComponent.new(viewer:, stimulus_controller: 'file-auth tree fullscreen') do |component| %>
  <% component.with_header_button do %>
    <div class="item-count" aria-live="polite" data-tree-target="count"></div>
    <% if viewer.display_file_search? %>
      <div class='search-query-form'>
        <label for='search-input' class='visually-hidden'>Search this list</label>
        <input class='search-input' id='search-input' placeholder='Search this list' data-search-input="true" data-action="keyup->tree#search">
        <svg class="MuiSvgIcon-root SearchSharp" focusable="false" aria-hidden="true" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14"></path></svg>
      </div>
    <% end %>
  <% end %>

  <% component.with_header_button do %>
    <%= render CompanionWindows::ShareButtonComponent.new %>
  <% end %>

  <% component.with_header_button do %>
    <%= render CompanionWindows::FullscreenButtonComponent.new %>
  <% end %>

  <% component.with_authorization_messages do %>
    <%= render Document::AuthMessagesComponent.new(message: viewer.message) %>
  <% end %>

  <% component.with_body do %>
    <% # background-color: white must be set for full screen when the browser prefers dark mode %>
    <div style="overflow-y: scroll; flex-basis: 100%;">
      <table class="sul-embed-treegrid" role="treegrid" aria-label="File list" data-action="keydown->tree#navigate" data-tree-target="table">
        <colgroup>
          <col class="sul-embed-treegrid-name">
          <col class="sul-embed-treegrid-size">
          <col class="sul-embed-treegrid-download">
        </colgroup>
        <thead>
          <tr>
            <th scope="col">File name</th>
            <th scope="col">Size</th>
            <th scope="col" class="sul-embed-text-hide visually-hidden">Download</th>
          </tr>
        </thead>
        <tbody>
          <%= render Embed::File::DirRowComponent.new(viewer: viewer, dir: viewer.purl_object.hierarchical_contents)%>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
