<%= render ::CompanionWindowsComponent.new(viewer:, stimulus_controller: 'media-tag file-auth transcript') do |component| %>
  <% component.with_header_button do %>
    <%= render CompanionWindows::ShareButtonComponent.new %>
  <% end %>
  <% component.with_header_button do %>
    <%= render CompanionWindows::ControlButtonComponent.new(action: 'click->companion-window#openModal', data: { target: 'accessibility' }, aria: { label: 'Accessibility', controls: 'accessibility' }) do %>
      <span class="button-label"><svg class="MuiSvgIcon-root AccessibilitySharp" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
        <path d="M12 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2m9 7h-6v13h-2v-6h-2v6H9V9H3V7h18z"></path>
      </svg></span>
    <% end %>
  <% end %>

  <% component.with_header_button do %>
    <%= render CompanionWindows::FullscreenButtonComponent.new %>
  <% end %>

  <% component.with_drawer_button do %>
    <%= render CompanionWindows::ControlButtonComponent.new(action: 'click->tab#switch', controller: 'tab', aria: { label: 'Transcript', controls: 'transcript' }, role: 'tab', data: { transcript_target: 'button' }, hidden: !downloadable_caption_files?) do %>
      <%= render Icons::DescriptionComponent.new %>
    <% end %>
  <% end %>

  <% component.with_drawer_content do %>
    <%= render TabpanelComponent.new(id: 'transcript', hidden: true, title: 'Transcript', data: { companion_window_target: 'transcript' }) do |component| %>
      <% component.with_subheading do %>
        <div class="transcript-controls header-background">
          <div class="transcript-autoscroll">
            <label for="autoscroll">Auto scroll</label>
            <input data-transcript-target="autoscroll" type="checkbox" id="autoscroll">
          </div>
          <div class="transcript-language">
            <label class="visually-hidden" for="caption-languages">Select Language</label>
            <select name="caption-languages" id="caption-languages" data-transcript-target="captionLanguageSelect" data-action="transcript#selectLanguage">
              <option value="">Select Language</option>
            </select>
          </div>
        </div>
      <% end %>
      <% component.with_body do %>
        <div class="transcript" data-action="media-loaded@window->transcript#persistPlayer switch-transcript@window->transcript#switchTranscript media-data-loaded@window->transcript#load time-update@window->transcript#highlightCue" data-transcript-target="outlet">
          <%= transcript_message %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% component.with_authorization_messages do %>
    <%= render CompanionWindows::AuthorizationMessagesComponent.new %>
  <% end %>

  <% component.with_body do %>
    <div data-action="thumbnail-clicked@window->file-auth#authFileAndDisplay" style="width: 100%; display: flex;">
      <%= render Media::TagComponent.with_collection(resources_with_primary_file, druid:) %>
    </div>
  <% end %>

  <% component.with_dialog do %>
    <%= render DialogComponent.new(dialog_id: 'accessibility', stimulus_target: 'accessibility') do |component| %>
      <%= component.with_header do %>
        Accessibility
      <% end %>

      <%= component.with_main do %>
        <% if downloadable_transcript_files? %>
          <p>A transcript is available for download. Click the share & download icon to download a transcript.</p>
        <% else %>
          <p>To request a transcript or other accommodation for this media item,
            please send a request along with a link to this item to
            <a href="mailto:purl-feedback@lists.stanford.edu">purl-feedback@lists.stanford.edu</a>.</p>
        <% end %>
      <% end %>

      <%= component.with_footer do %>
        <button data-action="click->companion-window#closeModal">Close</button>
      <% end %>
    <% end %>

    <link href="https://vjs.zencdn.net/8.6.1/video-js.css" rel="stylesheet" />
  <% end %>
<% end %>
