
<dl class="metadataList">
  <%= render 'embed/metadata/media_accessibility_note', viewer: viewer %>

  <dt>Citation URL</dt>
  <dd>
    <a href='<%= purl_url %>' target='_top'><%= purl_url_display %></a>
  </dd>
  <% if use_and_reproduction.present? %>
    <dt>Use and reproduction</dt>
    <dd><%= use_and_reproduction %></dd>
  <% end %>
  <% if copyright.present? %>
    <dt>Copyright</dt>
    <dd><%= copyright %></dd>
  <% end %>
  <% if license.present? %>
    <dt>License</dt>
    <dd>
      <%= license %>
    </dd>
  <% end %>
</dl>