<%= render ::CompanionWindowsComponent.new(viewer:, stimulus_controller: 'file-auth tree') do |component| %>
  <% component.with_header_button do %>
    <%= render CompanionWindows::ShareButtonComponent.new %>
  <% end %>

  <% component.with_header_button do %>
    <%= render CompanionWindows::FullscreenButtonComponent.new %>
  <% end %>

  <% component.with_authorization_messages do %>
    <%= render CompanionWindows::AuthorizationMessagesComponent.new(available: viewable_content?) %>
  <% end %>

  <% component.with_body do %>
    <div data-controller="locked-poster" data-action="auth-success@window->locked-poster#hide auth-denied@window->locked-poster#show" role="presentation" style="flex: 1 0 100%; text-align: center;" <%= 'hidden' if viewable_content? %>>
      <%= render LockedStatusComponent.new %>
    </div>
    <% if viewable_content? %>
      <div class="sul-embed-3d sul-embed-body" data-action="iiif-manifest-received@window->file-auth#parseFiles">
        <div class="buttons">
          <button aria-label="Zoom in" class="zoom-in">+</button>
          <button aria-label="Zoom out" class="zoom-out">-</button>
        </div>
        <div id="3d-viewer" class="model-viewer-container" data-controller="model" data-action="auth-success@window->model#show">
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
