<%= render ::CompanionWindowsComponent.new(viewer:, stimulus_controller: 'file-auth') do |component| %>
  <% component.with_header_button do %>
    <%= render CompanionWindows::ShareButtonComponent.new %>
  <% end %>

  <% component.with_header_button do %>
    <%= render CompanionWindows::FullscreenButtonComponent.new  %>
  <% end %>

  <% component.with_authorization_messages do %>
    <%= render LoginComponent.new %>
    <%= render CompanionWindows::ContentNotAvailableComponent.new unless viewer.available? %>
  <% end %>

  <% component.with_body do %>
    <div data-controller="locked-poster" data-action="auth-success@window->locked-poster#hide auth-denied@window->locked-poster#show" role="presentation" style="flex: 1 0 100%; text-align: center;" <%= 'hidden' if viewer.available? %>>
      <%= render LockedStatusComponent.new %>
    </div>
    <div class="sul-embed-body" style="flex-basis: 100%">
      <div style="display: flex; flex-direction: column; height: 100%">
        <% if viewer.available? %>
          <div class="sul-embed-pdf" style="height: 100%"
            data-controller="pdf"
            data-action="iiif-manifest-received@window->file-auth#parseFiles auth-success@window->pdf#show">
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
