<dl class="rightsList left-drawer-content">
  <% if use_and_reproduction.present? %>
    <dt>Use and reproduction</dt>
    <dd><%= use_and_reproduction %></dd>
  <% end %>
  <% if copyright.present? %>
    <dt>Copyright</dt>
    <dd><%= copyright %></dd>
  <% end %>
  <% if license.present? %>
    <dt>License</dt>
    <dd><%= license %></dd>
  <% end %>
  <% if no_rights_information_present? %>
    <dt>Attribution</dt>
    <dd><%= default_attribution %></dd>
  <% end %>
</dl>
<div class="logoContainer">
  <%= image_tag stanford_libraries_logo_url, alt: "Stanford Libraries logo", role: "presentation", class: "attributionLogo" %>
</div>
