
<%= render ::CompanionWindowsComponent.new(viewer:, stimulus_controller: 'file-auth tree fullscreen') do |component| %>
  <% component.with_header_button do %>
    <%= render CompanionWindows::ShareButtonComponent.new %>
  <% end %>

  <% component.with_header_button do %>
    <%= render CompanionWindows::FullscreenButtonComponent.new %>
  <% end %>

  <% component.with_share_menu_button do %>
    <%= render CompanionWindows::ExternalLinkComponent.new(viewer:, label: 'Web Archive Portal') %>
  <% end %>

  <% component.with_body do %>
    <div class='sul-embed-body sul-embed-was-seed-container'>
      <div class='sul-embed-was-seed'>
        <div class='sul-embed-was-seed-content'>
          <div class='sul-embed-was-seed-row'>
            <div class='sul-embed-was-seed-column sul-embed-was-seed-info'>
              <%= link_to viewer.archived_site_url, target: '_top' do %>
                <div class="sul-embed-was-seed-preview">
                  <%= image_tag viewer.shelved_thumb, alt: '' %>
                </div>
                Stanford Web Archive Portal
              <% end %>
            </div>
            <div class='sul-embed-was-seed-column sul-embed-was-seed-captures'>
              <% if viewer.capture_list.length.positive? %>
                <h1>
                  <%= "Captured #{pluralize(viewer.capture_list.length, 'time')} between #{viewer.format_memento_datetime(viewer.capture_list.first.datetime)} and #{viewer.format_memento_datetime(viewer.capture_list.last.datetime)}" %>
                </h1>
              <% end %>
              <ul class='sul-embed-was-seed-list'>
                <% viewer.capture_list.each do |memento| %>
                  <li class='sul-embed-was-seed-list-item'>
                    <%= render Icons::WebArchiveComponent.new %>
                    <%= link_to memento.url, target: '_top', class: 'sul-embed-stretched-link' do %>
                      <%= DateTime.parse(memento.datetime).utc %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>