<div class='sul-embed-panel-container'>
  <div class='sul-embed-panel sul-embed-metadata-panel' style='display:none' aria-hidden='true'>
    <div class='sul-embed-panel-header'>
      <button class='sul-embed-close' data-sul-embed-toggle='sul-embed-metadata-panel'>
        <span aria-hidden='true'>&times;</span>
        <span class='sul-embed-sr-only'>Close</span>
      </button>
      <div class='sul-embed-panel-title'>
        <%= viewer.purl_object.title %>
      </div>
    </div>
    <div class='sul-embed-panel-body'>
      <dl>
        <%= yield %>

        <dt>Citation URL</dt>
        <dd>
          <a href='<%= viewer.purl_object.purl_url %>' target='_top'><%= viewer.purl_object.purl_url.gsub(%r{^https?://}, '') %></a>
        </dd>
        <% if viewer.purl_object.use_and_reproduction.present? %>
          <dt>Use and reproduction</dt>
          <dd><%= viewer.purl_object.use_and_reproduction %></dd>
        <% end %>
        <% if viewer.purl_object.copyright.present? %>
          <dt>Copyright</dt>
          <dd><%= viewer.purl_object.copyright %></dd>
        <% end %>
        <% if viewer.purl_object.license.present? %>
          <dt>License</dt>
          <dd>
            <span class='sul-embed-license-<%= viewer.purl_object.license[:machine] %>'></span>
            <%= viewer.purl_object.license[:human] %>
          </dd>
        <% end %>
      </dl>
    </div>
  </div>
</div>
