<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
    <script>
      <%= 'if (window.jQuery) { jQuery.fx.off = true; }' if Rails.env.test? %>
    </script>
    <script src="//js.honeybadger.io/v6.5/honeybadger.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      Honeybadger.configure({
        apiKey: '<%= Honeybadger.config.get(:api_key) %>',
        environment: '<%= Honeybadger.config.get(:env) %>',
        debug: false,
        onerror: true
      });
    </script>
    <%= javascript_importmap_tags @embed_response.viewer.importmap if @embed_response.viewer.importmap %>
    <%= stylesheet_link_tag @embed_response.viewer.stylesheet %>
    <%= stylesheet_link_tag 'sul_icons.css' %>
    <%= tag :link, rel: "up", href: Embed::Purl.find(@embed_response.request.purl_object.collections.first).purl_url if @embed_response && @embed_response.request.purl_object.collections.any? %>
  </head>
  <%= render 'analytics' %>
  <body>
    <%= render @embed_response.viewer.component.new(viewer: @embed_response.viewer) %>
  </body>
</html>
