<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
    <script>
      <%= 'if (window.jQuery) { jQuery.fx.off = true; }' if Rails.env.test? %>
    </script>
    <script src="//js.honeybadger.io/v6.5/honeybadger.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      Honeybadger.configure({
        apiKey: '<%= Honeybadger.config.get(:api_key) %>',
        environment: '<%= Honeybadger.config.get(:env) %>',
        debug: false,
        onerror: true
      });
    </script>
    <%= javascript_importmap_tags @embed_response.viewer.importmap if @embed_response.viewer.importmap %>
    <%= stylesheet_link_tag @embed_response.viewer.stylesheet %>
    <%= stylesheet_link_tag 'sul_icons.css' %>
    <%= tag :link, rel: "up", href: Embed::Purl.find(@embed_response.request.purl_object.collections.first).purl_url if @embed_response && @embed_response.request.purl_object.collections.any? %>
  </head>
  <body>
     <% if @embed_response.check_authorization? %>
       <span>Content type: <%= @embed_response.request.purl_object.type %> | </span>
       <% if @embed_response.request.citation_only? # this is first, but also shouldn't render embed %>
        <span>This content cannot be accessed online. See access conditions for more information.</span>
       <% elsif @embed_response.request.embargoed? # this comes first, as it supercedes any other restrictions (though never shows, since embargoed stuff is citation only?) %>
        <span>Restriction: embargoed until <%= @embed_response.request.purl_object.embargo_release_date %></span>
       <% elsif @embed_response.request.stanford_only_unrestricted? %>
         <span>Restriction: Stanford only</span>
       <% end %>
    <% end %>
    <%= render @embed_response.viewer.component.new(viewer: @embed_response.viewer) %>
    <%= render 'analytics' %>
  </body>
</html>
