<!DOCTYPE html>
<html>
  <head>
    <script src="//js.honeybadger.io/v6.5/honeybadger.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      Honeybadger.configure({
        apiKey: '<%= Honeybadger.config.get(:api_key) %>',
        environment: '<%= Honeybadger.config.get(:env) %>',
        debug: false,
        onerror: true
      });
    </script>
    <%= render 'analytics' %>
    <%= javascript_importmap_tags @embed_response.viewer.importmap if @embed_response.viewer.importmap %>
    <%= stylesheet_link_tag @embed_response.viewer.stylesheet %>
    <%= tag :link, rel: "up", href: @embed_response.request.purl_object.first_collection_url if @embed_response && @embed_response.request.purl_object.first_collection_url %>
  </head>
  <body>
    <%= render @embed_response.viewer.component.new(viewer: @embed_response.viewer) %>
  </body>
</html>
