<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <script>
      <%= 'if (window.jQuery) { jQuery.fx.off = true; }' if Rails.env.test? %>
    </script>
    <style>
      #sul-embed-object {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 3px;
      }
    </style>
    <%= stylesheet_link_tag 'm3.css' %>
  </head>
  <body>
    <div class="sul-embed-container" id='sul-embed-object'>
      <div class='sul-embed-body sul-embed-m3' style="max-height:100%;">
        <div
          id='sul-embed-m3'
          class='m3'
          data-m3-uri='<%= @embed_request.url %>'
          # this one is what's getting rendered
          data-workspace-state='<%= @embed_request.workspace_state %>'
          data-canvas-id='<%= @embed_request.canvas_id %>'
          data-canvas-index='<%= @embed_request.canvas_index %>'
          data-hide-title='<%= @embed_request.hide_title? %>'
          data-show-attribution='false'
          data-search='<%= @embed_request.search %>'
          data-suggested-search='<%= @embed_request.suggested_search %>'
          data-image-tools='<%= @embed_request.image_tools %>'
          style='height:100%; width:100%'>
        </div>

        <%= javascript_pack_tag('m3') %>
      </div>
    </div>
    <%= render 'analytics' %>
  </body>
</html>
