<!DOCTYPE html>
<html>
  <head>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/<%= Settings.jquery_version %>/jquery.min.js'></script>
    <script>
      <%= 'if (window.jQuery) { jQuery.fx.off = true; }' if Rails.env.test? %>
    </script>
    <style>
      #sul-embed-object {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 3px;
      }
    </style>
  </head>
  <body>
    <div class="sul-embed-container" id='sul-embed-object' style='display:none;'>
      <div class='sul-embed-body sul-embed-m3' style="max-height:100%;" data-sul-embed-theme="<%= asset_url('m3.css') %>">
        <div
          id='sul-embed-m3'
          class='m3'
          data-m3-uri='<%= @embed_request.url %>'
          data-canvas-id='<%= @embed_request.canvas_id %>'
          data-canvas-index='<%= @embed_request.canvas_index %>'
          data-hide-title='<%= @embed_request.hide_title? %>'
          data-show-attribution='false'
          data-search='<%= @embed_request.search %>'
          data-suggested-search='<%= @embed_request.suggested_search %>'
          style='height:100%; width:100%'>
        </div>

        <script>;jQuery.ajax({url: "<%= asset_pack_url('m3.js') %>", cache: true, dataType: 'script'});</script>
      </div>
     </div>
  </body>
</html>
