<div class="sul-embed-container" id='sul-embed-object' style='display:none;'>
  <%= render 'header/geo', viewer: viewer if viewer.display_header? %>
  <%= render 'body/geo', viewer: viewer %>
  <%= render 'metadata_panel', viewer: viewer %>
  <%= render 'embed_this/generic', viewer: viewer %>
  <%= render 'download/geo', viewer: viewer %>
  <%= render 'footer/generic', viewer: viewer %>
 </div>
