<div class="sul-embed-container <%= 'sul-embed-fullheight' if viewer.request.fullheight? %>"
  id='sul-embed-object' style='display:none; <%= viewer.container_styles %>'>
  <%= render 'header/image_x', viewer: viewer %>
  <%= render 'body/image_x', viewer: viewer %>
  <%= render 'metadata/image_x', viewer: viewer %>
  <%= render 'embed_this/image_x', viewer: viewer %>
  <%= render 'download/image_x', viewer: viewer %>
  <%= render 'footer/generic', viewer: viewer %>
 </div>
