<div class="sul-embed-container" id='sul-embed-object' style='display:none;'>
  <%= render 'header/media', viewer: viewer if viewer.display_header? %>
  <%= render 'body/media', viewer: viewer %>
  <%= render 'metadata/media', viewer: viewer %>
  <%= render 'embed_this/generic', viewer: viewer %>
  <%= render 'download/media', viewer: viewer %>
  <%= render 'footer/generic', viewer: viewer %>
 </div>
