<div class="sul-embed-container" id='sul-embed-object' style='display:none;'>
  <%= render 'header/pdf_viewer', viewer: viewer if viewer.display_header? %>
  <%= render 'body/pdf_viewer', viewer: viewer %>
  <%= render 'metadata_panel', viewer: viewer %>
  <%= render 'embed_this/generic', viewer: viewer %>
  <%= render 'download/pdf', viewer: viewer %>
  <%= render 'footer/generic', viewer: viewer %>
 </div>
