<div class="sul-embed-container<%= ' sul-embed-fullheight' if viewer.request.fullheight? %>"
  id='sul-embed-object' style='display:none; <%= viewer.container_styles %>'>
  <%= render 'header/virtex_3d_viewer', viewer: viewer if viewer.display_header? %>
  <%= render 'body/virtex_3d_viewer', viewer: viewer %>
  <%= render 'metadata_panel', viewer: viewer %>
  <%= render 'embed_this/generic', viewer: viewer %>
  <%= render 'download/virtex_3d', viewer: viewer %>
  <%= render 'footer/generic', viewer: viewer %>
 </div>
