<div class="index-map-info">
  {{#if title}}
    <h3>{{title}}</h3>
  {{/if}}
  <div>
    {{#if thumbnailUrl}}
        <img src="{{thumbnailUrl}}" style="max-width: 100%; height: auto;" alt="">
    {{/if}}
    <dl>
      {{#if websiteUrl}}
        <a href="{{websiteUrl}}">View this map</a>
      {{/if}}
      {{#if downloadUrl}}
        <dt>Download</dt>
        <dd><a href="{{downloadUrl}}">{{downloadUrl}}</a></dd>
      {{/if}}
      {{#if recordIdentifier}}
        <dt>Record Identifier</dt>
        <dd>{{recordIdentifier}}</dd>
      {{/if}}
      {{#if label}}
        <dt>Label</dt>
        <dd>{{label}}</dd>
      {{/if}}
      {{#if note}}
        <dt>Note</dt>
        <dd>{{note}}</dd>
      {{/if}}
    </dl>
  </div>
</div>
