<div class="sul-embed-container companion-window-component" id='sul-embed-object' hidden data-controller="companion-window iiif-manifest-loader <%= @stimulus_controller %>" data-iiif-manifest-loader-iiif-manifest-value="<%= iiif_v3_manifest_url %>">
  <header aria-label="Embed main">
    <nav aria-label="Embed navigation">
      <button data-action="click->companion-window#toggleLeft" aria-label="Display sidebar" aria-controls="left-drawer">
        <span class="button-label"><svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg></span>
      </button>
      <h2 class=""><%= viewer.purl_object.title %></h2>
      <button data-action="click->companion-window#openModalComponentsPopover" data-companion-window-target='shareButton' aria-label="Share and Download" aria-controls="share_and_download">
        <span class="button-label"><svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0,0H24V24H0Z" fill="none"></path><path d="M19,12v7H5V12H3v9H21V12Z"></path><path d="M11.741,8.178V5L17.3,10.562l-5.562,5.562V12.867c-3.973,0-6.754,1.271-8.741,4.052C3.795,12.946,6.178,8.973,11.741,8.178Z" transform="translate(4 -4)"></path></svg></svg></span>
      </button>
      <%= header_button %>
    </nav>
  </header>

  <%= authorization_messages %>

  <div class="companion-window-component-body">
    <aside class="left-drawer collapse" data-companion-window-target="leftDrawer" id="left-drawer" aria-label="Sidebar" style="visibility: hidden">
      <nav class="vert-tabs" role="tablist">
        <button data-controller="tab" data-action="click->tab#switch" class="active" aria-label="About this item" aria-controls="about" aria-selected="true" role="tab">
          <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"></path></svg>
        </button>
        <button data-controller="tab" data-action="click->tab#switch" aria-label="Content" aria-controls="media-content" role="tab">
          <svg class="MuiSvgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 24 24"><path d="M4 10.5c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5zm0-6c-.83 0-1.5.67-1.5 1.5S3.17 7.5 4 7.5 5.5 6.83 5.5 6 4.83 4.5 4 4.5zm0 12c-.83 0-1.5.68-1.5 1.5s.68 1.5 1.5 1.5 1.5-.68 1.5-1.5-.67-1.5-1.5-1.5zM7 19h14v-2H7v2zm0-6h14v-2H7v2zm0-8v2h14V5H7z"></path></svg>
        </button>
        <%= drawer_button %>
        <button data-controller="tab" data-action="click->tab#switch" aria-label="Use and reproduction" aria-controls="rights" role="tab">
          <svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M10.08 10.86c.05-.33.16-.62.3-.87s.34-.46.59-.62c.24-.15.54-.22.91-.23.23.01.44.05.63.13.2.09.38.21.52.36s.25.33.34.53.13.42.14.64h1.79c-.02-.47-.11-.9-.28-1.29s-.4-.73-.7-1.01-.66-.5-1.08-.66-.88-.23-1.39-.23c-.65 0-1.22.11-1.7.34s-.88.53-1.2.92-.56.84-.71 1.36S8 11.29 8 11.87v.27c0 .58.08 1.12.23 1.64s.39.97.71 1.35.72.69 1.2.91c.48.22 1.05.34 1.7.34.47 0 .91-.08 1.32-.23s.77-.36 1.08-.63.56-.58.74-.94.29-.74.3-1.15h-1.79c-.01.21-.06.4-.15.58s-.21.33-.36.46-.32.23-.52.3c-.19.07-.39.09-.6.1-.36-.01-.66-.08-.89-.23-.25-.16-.45-.37-.59-.62s-.25-.55-.3-.88-.08-.67-.08-1v-.27c0-.35.03-.68.08-1.01zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"></path></svg>
        </button>
      </nav>

      <div class="inner">
        <section id="about" role="tabpanel">
          <div class="header-background">
            <h3>About this item</h3>
          </div>
          <dl data-controller="iiif-metadata" class="metadataList left-drawer-content" data-action="iiif-manifest-received@window->iiif-metadata#drawMetadata"></dl>
        </section>

        <section id="media-content" role="tabpanel" hidden>
          <div class="header-background">
            <h3>Media content</h3>
          </div>
          <ul class="left-drawer-content" data-controller="content-list" data-action="thumbnails-found@window->content-list#draw" role="tablist"></ul>
        </section>

        <%= drawer_content %>

        <section id="rights" role="tabpanel" hidden>
          <div class="header-background">
            <h3>Rights</h3>
          </div>

          <%= render RightsComponent.new(viewer:) %>
        </section>
      </div>
    </aside>
    <div id='main-display'>
      <%= body %>
    </div>
  </div>
  <dialog class="modal-components-popover" data-companion-window-target="modalComponentsPopover" data-action="click->companion-window#closePopover" id="share_and_download">
    <button class="modal-component-button" data-action="click->companion-window#openShareModal" aria-label="Share" aria-controls="share" tabindex="0">
      <svg class="MuiSvgIcon-root modal-component-icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92s2.92-1.31 2.92-2.92-1.31-2.92-2.92-2.92z"></path></svg>
      <span class="modal-component-label">Share</span>
    </button>
    <button class="modal-component-button" data-action="click->companion-window#openDownloadModal" aria-label="Download" aria-controls="download" tabindex="0">
      <svg class="MuiSvgIcon-root modal-component-icon" focusable="false" aria-hidden="true" viewBox="0 0 24 24"><path d="M5 20h14v-2H5v2zM19 9h-4V3H9v6H5l7 7 7-7z"></path></svg>
      <span class="modal-component-label">Download</span>
    </button>
  </dialog>

  <dialog aria-labelledby="share-modal-header" class="modal-container" data-companion-window-target="shareModal" data-action="click->companion-window#handleBackdropClicks" id="share">
    <header class="modal-header" id="share-modal-header">
      Share
    </header>

    <%= render Embed::Media::EmbedThisFormComponent.new(viewer:) %>

    <button data-action="click->companion-window#closeModal">Close</button>
  </dialog>

  <dialog aria-labelledby="download-modal-header" class="modal-container" data-companion-window-target="downloadModal" data-action="click->companion-window#handleBackdropClicks" id="download">
    <header class="modal-header" id="download-modal-header">
      Download
    </header>

    <section class='sul-embed-downloads'>
      <% if downloadable_files.present? %>
        <h3 class='sul-embed-options-label modal-subheader'>
          Files
        </h3>
        <ul>
          <%= render Embed::Download::FileListItemComponent.with_collection(downloadable_files) %>
        </ul>
      <% else %>
        <p>No downloads available</p>
      <% end %>
    </section>

    <button data-action="click->companion-window#closeModal">Close</button>
  </dialog>

  <%= dialog %>
</div>
