<div class="sul-embed-container" id='sul-embed-object' hidden data-controller="tree">
  <%= render Embed::File::HeaderComponent.new viewer: viewer %>
  <div class='sul-embed-body sul-embed-file'>
    <div class='sul-embed-file-list'>
      <% if viewer.purl_object.embargoed? %>
        <div class='sul-embed-embargo-message'>
          <%= viewer.embargo_message %>
        </div>
      <% end %>
      <table class="sul-embed-treegrid" role="treegrid" aria-label="File list" data-action="keydown->tree#navigate" data-tree-target="table">
        <colgroup>
          <col class="sul-embed-treegrid-name">
          <col class="sul-embed-treegrid-size">
          <col class="sul-embed-treegrid-download">
        </colgroup>
        <thead>
          <tr>
            <th scope="col">File Name</th>
            <th scope="col">Size</th>
            <th scope="col" class="sul-embed-text-hide">Download</th>
          </tr>
        </thead>
        <tbody>
          <%= render Embed::DirRowComponent.new(viewer: viewer, dir: viewer.purl_object.hierarchical_contents)%>
        </tbody>
      </table>
    </div>
  </div>
  <%= render 'embed/metadata_panel', viewer: viewer %>
  <%= render 'embed/embed_this/file', viewer: viewer %>
  <%= render 'embed/footer/file', viewer: viewer %>
</div>
