<div class="sul-embed-container" id='sul-embed-object' style='display:none;'>
  <%= render Embed::File::HeaderComponent.new viewer: viewer %>
  <%= render 'embed/body/file', viewer: viewer %>
  <%= render 'embed/metadata_panel', viewer: viewer %>
  <%= render 'embed/embed_this/file', viewer: viewer %>
  <%= render 'embed/footer/file', viewer: viewer %>
  <script src="<%= asset_url('tree.js') %>"></script>
</div>
