<div class="sul-embed-container" id='sul-embed-object' style='display:none;'>
  <%= render 'embed/header/geo', viewer: viewer if viewer.display_header? %>
  <%= render 'embed/body/geo', viewer: viewer %>
  <%= render 'embed/metadata_panel', viewer: viewer %>
  <%= render 'embed/embed_this/generic', viewer: viewer %>
  <%= render 'embed/download/geo', viewer: viewer %>
  <%= render 'embed/footer/generic', viewer: viewer %>
 </div>
