<div class="sul-embed-container" id='sul-embed-object' style='display:none;'>
  <%= render Embed::HeaderComponent.new viewer: viewer %>
  <div class='sul-embed-body sul-embed-geo'>
    <div id="sul-embed-geo-sidebar" class="" style="display: none;">
    </div>
    <%= content_tag :div, viewer.map_element_options do %>

    <% end %>
    <%= javascript_pack_tag('geo') %>
  </div>

  <%= render 'embed/metadata_panel', viewer: viewer %>
  <%= render 'embed/embed_this/generic', viewer: viewer %>
  <%= render Embed::Download::GeoComponent.new viewer: viewer %>
  <%= render Embed::FooterComponent.new viewer: viewer %>
 </div>
