<div class="sul-embed-container" id='sul-embed-object' hidden>
  <%= render Embed::HeaderComponent.new viewer: viewer %>
  <% # removing 5 pixels from the body height to account for being embedded %>
  <div class='sul-embed-body sul-embed-pdf'>
    <% if viewer.available? %>
        <button aria-label="Zoom in" class="button zoom-in">+</button>
        <button aria-label="Zoom out" class="button zoom-out">-</button>
        <button aria-label="Previous page" class="button prev-page">
          <i class="sul-i-arrow-left-8"></i>
        </button>
        <button aria-label="Next page" class="button next-page">
          <i class="sul-i-arrow-right-8"></i>
        </button>
        <div id="pdf-viewer" class="pdf-viewer"
          data-pdf-url="<%= viewer.pdf_files.first %>"
          data-location-restricted="<%= viewer.all_documents_location_restricted? %>"
        >
          <div class="loading-spinner"></div>
          <canvas></canvas>
          <button
            aria-label="Exit full screen"
            class="btn sul-i-close sul-close-fullscreen-button"
            id="close-full-screen-button">
          </button>
          <button aria-label="Next page" class="button next-page">
            <i class="sul-i-arrow-right-8"></i>
          </button>
          <div id="pdf-viewer" class="pdf-viewer"
            data-pdf-url="<%= viewer.pdf_files.first %>"
            data-location-restricted="<%= viewer.all_documents_location_restricted? %>"
          >
            <div class="loading-spinner"></div>
            <canvas></canvas>
            <button
              aria-label="Exit full screen"
              class="sul-embed-btn sul-i-close sul-close-fullscreen-button"
              id="close-full-screen-button">
            </button>
          </div>
          <% # NOTE: Remove legacy_pdf_viewer.js file when this component is removed %>
          <%= javascript_pack_tag('legacy_pdf_viewer') %>
      <% else %>
          <div class="authLinkWrapper">
            <svg class="MuiSvgIcon-root" focusable="false" aria-hidden="true" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8 0-1.85.63-3.55 1.69-4.9L16.9 18.31C15.55 19.37 13.85 20 12 20zm6.31-3.1L7.1 5.69C8.45 4.63 10.15 4 12 4c4.42 0 8 3.58 8 8 0 1.85-.63 3.55-1.69 4.9z"></path></svg>
            <p class="loginMessage"><%= I18n.t('restrictions.not_accessible') %></p>
          </div>
      <% end %>
  </div>
  <%= render 'embed/metadata_panel', viewer: viewer %>
  <%= render 'embed/embed_this/generic', viewer: viewer %>
  <%= render Embed::Download::PdfComponent.new viewer: viewer %>
  <%= render Embed::FooterComponent.new viewer: viewer %>
 </div>
