<div class="sul-embed-container legacy-media-component" id='sul-embed-object' style='display:none;'>
  <%= render Embed::HeaderComponent.new viewer: viewer %>
  <div class='sul-embed-body sul-embed-media'
     data-behavior="legacy-media">
    <%= render Embed::MediaTagComponent.with_collection(resources_with_primary_file,
                                                        include_transcripts:,
                                                        druid:,
                                                        many_primary_files:) %>
    <%= javascript_pack_tag('legacy_media') %>
  </div>
  <%= render Embed::Media::MetadataComponent.new viewer: viewer %>
  <%= render 'embed/embed_this/generic', viewer: viewer %>
  <%= render Embed::Download::LegacyMediaComponent.new viewer: viewer %>
  <%= render Embed::FooterComponent.new viewer: viewer %>
 </div>
