<div class="sul-embed-container" id='sul-embed-object' hidden>
  <div class='sul-embed-body sul-embed-m3'>
    <div
      id='sul-embed-m3'
      class='m3'
      data-m3-uri='<%= viewer.manifest_json_url %>'
      data-canvas-id='<%= viewer.canvas_id %>'
      data-canvas-index='<%= viewer.canvas_index %>'
      data-hide-title='<%= viewer.request.hide_title? %>'
      data-show-attribution='<%= viewer.show_attribution_panel? %>'
      data-cdl='<%= viewer.cdl? %>'
      data-search='<%= viewer.search %>'
      data-cdl-hold-record-id='<%= viewer.cdl_hold_record_id %>'
      data-suggested-search='<%= viewer.suggested_search %>'>
    </div>

    <%= javascript_pack_tag('m3') %>
  </div>
</div>
