<div class="sul-embed-container media-component" id='sul-embed-object' style='display:none;'>
  <header>
    <nav aria-label="Window navigation">
      <button>
        <span class="button-label"><svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg></span>
      </button>
      <h2 class=""><%= viewer.purl_object.title %></h2>
    </nav>
  </header>

  <div class="media-component-body">
    <div class="left-drawer" data-controller="hello">
      Left Drawer
    </div>
    <div class='sul-embed-body sul-embed-media'
      data-sul-embed-theme="<%= stylesheet_path('media.css') %>"
      data-sul-icons="<%= stylesheet_path('sul_icons.css') %>">
      <%= render Embed::MediaTagComponent.with_collection(purl_object.contents,
                                                    include_transcripts:,
                                                    druid:,
                                                    many_primary_files:) %>
    </div>
    <%= render Embed::Media::MetadataComponent.new viewer: viewer %>
    <%= render 'embed/embed_this/generic', viewer: viewer %>
    <%= render Embed::Download::LegacyMediaComponent.new viewer: viewer %>
    <div class="right-drawer">
      Right Drawer
    </div>
  </div>
  <%= render Embed::FooterComponent.new viewer: viewer %>
 </div>
 <%= javascript_pack_tag('media') %>
