<div class="sul-embed-container media-component" id='sul-embed-object' style='display:none;' data-controller="media">
  <header>
    <nav aria-label="Window navigation">
      <button data-action="click->media#toggleLeft">
        <span class="button-label"><svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg></span>
      </button>
      <h2 class=""><%= viewer.purl_object.title %></h2>
      <button data-action="click->media#toggleRight">
        <span class="button-label"><svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg></span>
      </button>
    </nav>
  </header>

  <div class="media-component-body" data-controller="media-tag">
    <div class="left-drawer collapse" data-media-target="leftDrawer">
      <div class="inner">
        <%= render 'embed/metadata/media_accessibility_note', viewer: viewer %>
        Share stuff
        <%= render EmbedThisFormComponent.new(viewer:) %>
      </div>
    </div>
    <div class='sul-embed-body sul-embed-media'
      data-sul-embed-theme="<%= stylesheet_path('media.css') %>"
      data-sul-icons="<%= stylesheet_path('sul_icons.css') %>">
      <%= render Embed::MediaTagComponent.with_collection(purl_object.contents,
                                                    include_transcripts:,
                                                    druid:,
                                                    many_primary_files:) %>
    </div>
    <%= render 'embed/embed_this/generic', viewer: viewer %>
    <%= render Embed::Download::LegacyMediaComponent.new viewer: viewer %>
    <div class="right-drawer collapse" data-media-target="rightDrawer">
      <div class="inner">
        <div class="downloads">
          <ul class='sul-embed-download-list'>
            <%= render Embed::Download::FileListItemComponent.with_collection(viewer.purl_object.downloadable_files) %>
          </ul>
        </div>
      </div>
    </div>
  </div>
 </div>
 <%= javascript_pack_tag('media') %>
