<div class="sul-embed-container" id='sul-embed-object' style='display:none;'>
  <%= render 'embed/header/media', viewer: viewer if viewer.display_header? %>
  <%= render 'embed/body/media', viewer: viewer %>
  <%= render 'embed/metadata/media', viewer: viewer %>
  <%= render 'embed/embed_this/generic', viewer: viewer %>
  <%= render Embed::Download::MediaComponent.new viewer: viewer %>
  <%= render 'embed/footer/generic', viewer: viewer %>
 </div>
