<div class="sul-embed-container" data-controller="fullscreen" id='sul-embed-object' hidden>
  <%= render Embed::HeaderComponent.new viewer: viewer %>
  <div class="sul-embed-3d sul-embed-body" data-fullscreen-target="area">
    <div class="buttons">
      <button aria-label="Zoom in" class="zoom-in">+</button>
      <button aria-label="Zoom out" class="zoom-out">-</button>
    </div>
    <div id="3d-viewer">
      <model-viewer auto-rotate camera-controls ar-modes="webxr scene-viewer quick-look" src="<%= viewer.three_dimensional_files.first %>"></model-viewer>
    </div>
  </div>

  <%= render 'embed/metadata_panel', viewer: viewer %>
  <%= render 'embed/embed_this/generic', viewer: viewer %>
  <%= render Embed::Download::ModelComponent.new viewer: viewer %>
  <%= render Embed::FooterComponent.new viewer: viewer %>
 </div>
