<div class="sul-embed-container" id='sul-embed-object' data-controller="file-auth" data-file-auth-iiif-manifest-value="<%= iiif_v3_manifest_url %>" hidden>
  <%= render Embed::HeaderComponent.new viewer: viewer %>
  <% # removing 5 pixels from the body height to account for being embedded %>
  <div class='sul-embed-body sul-embed-pdf' data-file-auth-target="container"></div>
  <%= render 'embed/metadata_panel', viewer: viewer %>
  <%= render 'embed/embed_this/generic', viewer: viewer %>
  <%= render Embed::Download::PdfComponent.new viewer: viewer %>
  <%= render Embed::FooterComponent.new viewer: viewer %>
 </div>
