<div class="sul-embed-container" id='sul-embed-object' hidden>
  <%= render Embed::HeaderComponent.new viewer: viewer %>
  <% # removing 5 pixels from the body height to account for being embedded %>
  <div class='sul-embed-body sul-embed-pdf'>
    <object data="<%= viewer.pdf_files.first %>" type="application/pdf" style="height: 100vh; width: 100%">
      <p>The PDF could not be displayed - either your browser does not support viewing PDFs or access is restricted.  Please try <a target="_blank" href="<%= viewer.pdf_files.first %>">download the file</a> to view it.</p>
    </object>
  </div>
  <%= render 'embed/metadata_panel', viewer: viewer %>
  <%= render 'embed/embed_this/generic', viewer: viewer %>
  <%= render Embed::Download::PdfComponent.new viewer: viewer %>
  <%= render Embed::FooterComponent.new viewer: viewer %>
 </div>
