<div class="sul-embed-container" id='sul-embed-object' style='display:none;'>
  <%= render 'embed/header/pdf_viewer', viewer: viewer if viewer.display_header? %>
  <%= render 'embed/body/pdf_viewer', viewer: viewer %>
  <%= render 'embed/metadata_panel', viewer: viewer %>
  <%= render 'embed/embed_this/generic', viewer: viewer %>
  <%= render 'embed/download/pdf', viewer: viewer %>
  <%= render 'embed/footer/generic', viewer: viewer %>
 </div>
