<li class="<%= classes %>" aria-controls="main-display" <%= 'aria-selected=true' if index.zero? %> data-action="click->content-list#<%= show_method %> keydown.enter->content-list#<%= show_method %>" data-url="<%= url %>" role="tab" tabindex="0">
  <%= render file_type_icon.new %>
  <span class="su-underline">
    <%= download_label %>
  </span>
  <%# TODO, we should be using thumbnail.js instead of ViewAccessComponent. Currently only media is. %>
  <%= render ViewAccessComponent.new(file:) %>
</li>
