<li class="file-thumb" aria-controls="main-display" data-action="click->content-list#<%= show_method %> keydown.enter->content-list#<%= show_method %>" data-url="<%= url %>" role="tab" tabindex="0">
  <%= render file_type_icon.new %>

  <span class="su-underline">
    <%= download_label %>
  </span>
  <%= render 'embed/restrictions_text_for_file', file: file %>
</li>
