<div class='sul-embed-embed-this-form'>
  <label for="sul-embed-purl-link" class="form-label" readonly>Share link</label>
  <input type="text" name="sul-embed-purl-link" id='sul-embed-purl-link' value="<%= purl_url %>" readonly>

  <label for='sul-embed-iframe-code' class="form-label">Embed</label>
  <textarea id='sul-embed-iframe-code' data-behavior='iframe-code' readonly><%= render IframeComponent.new(viewer:) %></textarea>

  <fieldset>
    <legend>Select options:</legend>
    <div class='form-check'>
      <input
        type='checkbox'
        id='sul-embed-embed-title'
        data-embed-attr='hide_title'
      <%= 'checked' unless request.hide_title? %>
      />
      <label for='sul-embed-embed-title'>title (<%= purl_object_title %>)</label>
    </div>

    <div class='form-check'>
      <input
        type='checkbox'
        id='sul-embed-embed'
        data-embed-attr='hide_embed'
      <%= 'checked' unless request.hide_embed_this? %>
      />
      <label for='sul-embed-embed'>embed</label>
    </div>
  </fieldset>
</div>

<script>
function copyToClipboard(component) {
  const element = document.getElementById(component)
  navigator.clipboard.writeText(element.value)
}
</script>