<% unless viewer.request.hide_download? %>
  <%= download_panel(title: 'Download image') do %>
    <div class='sul-embed-panel-body'>
      <ul class='sul-embed-download-list'></ul>
      <% viewer.purl_object.contents.each do |resource| %>
        <% next unless resource.type == 'object' %>
        <ul class='sul-embed-download-list-full'>
          <% resource.files.each do |file| %>
            <% next if viewer.embargoed_to_world?(file) %>
            <li>
              <div class="<%= 'sul-embed-stanford-only' if file.stanford_only? %>">
                <a target='_blank' rel='noopener noreferrer' href="<%= viewer.file_url(file.title) %>" download="">
                  <% if file.size.blank? %>
                    <%= viewer.full_download_title(file) %>
                  <% else %>
                    <%= viewer.full_download_title(file) %>
                    <%= viewer.pretty_filesize(file.size) %>
                  <% end %>
                </a>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
<% end %>
